@tailwind base;
@tailwind components;
@tailwind utilities;

/* Only for storybook. Not required in apps. */
html, body {
    font-family: Raleway, sans-serif;
}

.btn-group.separate > .btn {
    border-radius: var(--rounded-btn) !important;
}

.btn-group.separate-pills > .btn {
    border-radius: 9999px !important;
}
